name: Deploy to PythonAnywhere

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Deploy to PythonAnywhere
      uses: appleboy/ssh-action@master
      with:
        host: ssh.pythonanywhere.com
        username: quizmeme
        password: ${{ secrets.PYTHONANYWHERE_PASSWORD }}
        script: |
          cd /home/quizmeme/ai-mcq-meme-generator
          git pull origin main
          source venv/bin/activate
          pip install -r requirements.txt
          touch /var/www/quizmeme_pythonanywhere_com_wsgi.py
